<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="/assets/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>
<body>
<% forecasts.forEach(e => { %>
<a class="link" href="/cities/<%= forecasts.indexOf(e) %>">
    <button onlick="() => {window.location.href='http://www.google.com/'}" class="card">
        <div class="place">
            <h1 class="city"><%= e.city %></h1>
            <p class="location"><%= e.location %></p>
        </div>
        <div class="tempIcon">
            <span class="temp" tempScale="°C"><%= e.weather[0].temp %></span>
            <img class="icon" src="/../assets/pictures/<%= e.weather[0].icon %>.png">
        </div>
    </button>
</a>
<% }) %>
</body>
</html>