<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/styles.css"/>
</head>
<body>
<h1 class="title">Photo gallery</h1>
<div class="mainContent">
    <button class="mainButton" id="leftButton"></button>
    <img id="activePicture" src="<%= photos[0].path %>">
    <div class="pictureDescription">
        <h1 id="activeH1"><%= photos[0].header %></h1>
        <p id="activeP"><%= photos[0].description %></p>
    </div>
    <button class="mainButton" id="rightButton"></button>
</div>
<div class="thumbnails">
    <% photos.forEach(e => { %>
    <button class="thumbnailButton <%= e.isActive %>">
        <img class="thumbnailPicture" src="<%= e.path %>">
    </button>
    <% }) %>
</div>
<script src="/assets/gallery.js"></script>
</body>
</html>