<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktails</title>
    <link rel="stylesheet" href="assets/styles.css"/>
</head>
<body>
    <h1>Cocktails</h1>
    <div class="container">
        <a href="/">all</a>
        <% alcoholList.forEach(e => { %>
        <a href="/?alcoholType=<%=e%>"><%=e%></a>
        <% }) %>
    </div>
    <table>
        <thead>
            <tr>
                <th class="theader" id="name">Name</th>
                <th class="theader" id="price">Price</th>
            </tr>
        </thead>
        <tbody>
             <% cocktails.forEach(e => {
                if (alcoholType == false){ %>
                <tr>
                    <td class="names">
                        <h1 class="namesh1"><%= e.name %></h1>
                        <% if(!e.isAlcoholic){%>
                        <span class="nonAlcoholic">(non-alcoholic)</span>
                        <%};%>
                        <p class="namesp"><%= e.contains.join(" ") %></p>
                    </td>
                    <td class="prices" data-currency="Ft"><%= e.price + " "%></td>
                </tr>
                <% } else if(alcoholType && e.contains.includes(alcoholType)){ %>
                <tr>
                    <td class="names">
                        <h1 class="namesh1"><%= e.name %></h1>
                        <p class="namesp"><%= e.contains.join(" ") %></p>
                    </td>
                    <td class="prices" data-currency="Ft"><%= e.price + " "%></td>
                </tr>
             <% }}); %>
        </tbody>
    </table>
</body>
</html>